body {
    background-color: #21312E; /* Vert foncé */
    color: #FDF5D8; /* Blanc cassé */
    font-family: Arial, sans-serif;
}



/*-------------------------------------------
//  Navbar
// -------------------------------------------
*/

.navbar {
    background-color: #21312E; /* Vert foncé */
    border-bottom: 3px solid #A4D564; /* Bordure verte */
}

.navbar-nav .nav-link {
    color: #FDF5D8 !important; /* Blanc cassé */
}

.navbar-nav .nav-link:hover {
    color: #F5CB42 !important; /* Jaune doré */
}

.navbar-brand {
    position: absolute;
    top: -38px;
    left: 50%; 
    transform: translate(-50%, 0); 
    z-index: 2;
}

.navbar-brand img {
    max-height: 310px;
    width: 310px; 
}


.navbar-nav {
    margin-top: 20px;
}

.navbar-brand a {
    text-decoration: none;
}


/*-------------------------------------------
//  Table
// -------------------------------------------
*/
#tracking-table-body:hover {
    cursor: pointer;
}
#tracking-table-body:hover {
    cursor: pointer;
}

.table-custom {
    background-color: #21312E; /* Vert foncé */
    border-color: #A4D564; /* Vert clair */
    color: #FDF5D8; /* Blanc cassé */
}

.table-custom th {
    background: linear-gradient(25deg, #A4D564 33%, #8DC354 50%, #76B044 75%); /* Transitions définies */
    color: #21312E;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.table-custom tr:hover {
    background-color: #F5CB42; /* Jaune doré */
}

/*-------------------------------------------
//  Buttons
// -------------------------------------------
*/

button, .btn {
    background-color: #A4D564; /* Vert clair */
    color: #21312E; /* Texte vert foncé */
    border: none;
    font-weight: bold;
}

button:hover, .btn:hover {
    background-color: #F5CB42; /* Jaune doré */
    color: #21312E; /* Texte vert foncé */
}

#reset-button, #ajouter-recette {
    margin-right: 1rem;
}

/*-------------------------------------------
//  Footer
// -------------------------------------------
*/

.footer {
    background-color: #21312E; /* Vert foncé */
    color: #FDF5D8; /* Blanc cassé */
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

/* Graphiques */
#resource-chart {
    border: 2px solid #A4D564; /* Bordure verte */
    background-color: #21312E; /* Fond vert foncé */
}


.navbar {
    background-color: #21312E; /* Vert foncé */
    border-bottom: 3px solid #A4D564; /* Bordure verte */
    position: relative;
}

div #result {
    color: black;
}

div {
    border-radius: 10px;
}

#mainContainer {
	margin-top: 8em;
}

/* Changement couleur du canvas */
#resource-chart {
    background-color: white; /* Fond blanc */
    border: 2px solid #A4D564; /* Bordure verte */
}

