{% extends "base.html" %}

{% block title %}Recherchés Dofus{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Recherchés Dofus</h1>
    
    <!-- Menu déroulant des serveurs -->
    <div class="my-4">
        <label for="server-select" class="form-label">Sélectionnez votre serveur :</label>
        <select id="server-select" class="form-select">
            <option value="">Sélectionnez un serveur</option>
        </select>        
    </div>
    
    <!-- Tableau des recherchés -->
    <div id="bounties-container" class="d-none">
        <h2 id="server-name" class="mt-4"></h2>
        <table class="table table-bordered table-dark table-hover text-center mt-3">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom de la cible</th>
                    <th>Ouvert <span data-bs-toggle="tooltip" title="Affiche l'état de la fenêtre et la date et l'heure du dernier kill">?</span></th>
                    <th>Fenêtre (Heures)</th>
                    <th>Max</th>
                    <th>Zone</th>
                    <th>Actions</th>
                    <th>Suivi</th> <!-- Nouvelle colonne pour le suivi -->
                </tr>
            </thead>
            <tbody id="bounties-table-body"></tbody>
        </table>      
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/bounties.js') }}"></script>
{% endblock %}