{% extends "base.html" %}
{% block title %}DofusForge{% endblock %}

{% block content %}
<div class="wrapper d-flex flex-column">
    <main class="container mt-5">
        <h3 class="mb-4 text-center">Calculateur de prix Dofus</h3>

        <!-- Recherche Input -->
        <div class="mb-4 position-relative">
            <div class="input-group">
                <input 
                    type="text" 
                    id="search-input" 
                    placeholder="Recherchez un objet..." 
                    class="form-control" 
                    aria-label="Rechercher un objet">
            </div>
            <!-- Suggestions d'autocomplétion -->
            <div id="result" class="autocomplete-container mt-2 shadow-sm rounded"></div>
        </div>

        <!-- INPUT CACHE pour stocker l'ID de l'item sélectionné -->
        <input type="hidden" id="selected-item-id" value="">

        <div class="row g-4">
            <!-- Tableau des ingrédients -->
            <div class="col-lg-8">
                <div class="table-responsive">
                    <table 
                        class="table table-custom table-striped table-hover align-middle text-center" 
                        id="ingredient-table">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Nom de l'ingrédient</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Prix /u</th>
                                <th scope="col">Total</th>
                                <th scope="col">Évolution</th>
                                <th scope="col">Suivi</th>
                            </tr>
                        </thead>
                        <tbody id="ingredient-table-body">
                            <tr>
                                <td colspan="7" class="text-center fst-italic text-muted">
                                    Veuillez rechercher un objet.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Section des calculs -->
            <div class="col-lg-4">
                <div class="button-row mb-3 d-flex">
                    <button class="btn btn-danger" type="button" id="reset-button">Réinitialiser</button>
                    <button class="btn btn-success" type="button" id="ajouter-recette">
                        Enregistrer le prix du craft
                    </button>
                </div>
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="hdv-price" class="form-label">Prix HDV :</label>
                            <input 
                                type="number" 
                                class="form-control no-spinners" 
                                id="hdv-price" 
                                placeholder="Entrez le prix HDV">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Prix total du craft :</label>
                            <div class="p-2 bg-light border rounded">
                                <span id="craft-total" class="fw-bold">0</span> kamas
                            </div>
                        </div>

                        <div>
                            <label class="form-label">Profit (Taxe 2% incluse) :</label>
                            <div class="p-2 bg-light border rounded">
                                <span id="profit-ttc" class="fw-bold">0</span> kamas
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section des objets craftés -->
        <div class="mt-5">
            <h4>Objets craftés récents</h4>
            <div class="table-responsive">
                <table class="table table-custom" id="historique-table">
                    <thead>
                        <tr>
                            <th>Nom de l'objet</th>
                            <th>Prix du craft</th>
                            <th>Prix HDV</th>
                            <th>Ajouté par</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="historique-table-body">
                        <tr class="text-center">
                            <td colspan="5" class="text-center fst-italic text-center text-muted">Chargement...</td>
                        </tr>
                    </tbody>
                </table>                
            </div>
        </div>
    </main>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
