{% extends "base.html" %}

{% block title %}Mes Suivis{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Mes Suivis</h1>
    <p>Vous pouvez suivre jusqu'à <strong>15 composants</strong>.</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom du Composant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tracking-table-body">
        </tbody>
    </table>

    <div id="resource-info" style="display: none;">
        <h3 id="resource-title"></h3>
        <div id="resource-chart-container">
            <canvas id="resource-chart"></canvas>
        </div>
    </div>
    
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/my_trackings.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}